[defaults]

inventory      = inventory
log_path = ansible.log

vault_password_file = .vault_password

nocows = 1

strategy_plugins = venv/lib/python3.12/site-packages/ansible_mitogen/plugins/strategy
strategy = mitogen_linear


[ssh_connection]

# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s

# The base directory for the ControlPath sockets.
# This is the "%(directory)s" in the control_path option
#
# Example:
# control_path_dir = /tmp/.ansible/cp
control_path_dir = ~/.ansible/cp
