define OWNAS =  4242421464;
define OWNIP4 =  {{ dn42_ipv4 }};
define OWNIP6 = {{ dn42_ipv6 }};
define OWNNET4 = 172.23.37.32/27;
define OWNNET6 = fdcd:c2da:c2c4::/48;
define OWNNETSET4 = [172.23.37.32/27+];
define OWNNETSET6 = [fdcd:c2da:c2c4::/48+];
define DN42_REGION_GEO = {{ dn42_region_geo }};
define DN42_REGION_COUNTRY = {{ dn42_region_country }};
define DN42_BANDWIDTH = {{ dn42_bandwidth }};
