protocol ospf v3 ospf6 {
  ipv6 {
    table t_igp6;
    import filter f_ospf_import;
    export all;
  };

  area 0 {
    interface "dn42", "svc-*" {
      type ptp;
      stub;
    };
{% for peer in wireguard.internal.peers 
	if not (peer.disabled | default(false)) and peer.name != 'de-dd1' %}

    interface "i-{{ peer.name }}" {
      type ptp;
      bfd;
{% if 'cost' in peer %}
      cost {{ peer.cost }};
{% endif %}
    };
{% endfor %}
  };
{% if wireguard.internal.peers | selectattr('name', 'eq', 'de-dd1') %}

  area 44 {
    stub;

    interface "i-de-dd1" {
      type ptp;
      bfd;
    };
  };
{% endif %}
}
