[Match]
Name=i-{{ peer.name }}

{% if "mtu" in peer %}
[Link]
MTUBytes={{ peer.mtu }}

{% endif -%}
[Network]
DHCP=no
IPv6AcceptRA=false
IPForward=yes

[Address]
Address={{ wireguard.internal.address }}
{% if peer.natid is defined %}
{% set fwmark = peer.natid %}
{% set tableid = 100000 + fwmark %}
{% set nhid = tableid %}

[NextHop]
Id={{ nhid }}
Gateway=fe80::1
OnLink=yes

[Route]
Table={{ tableid }}
Destination=0.0.0.0/0
NextHop={{ nhid }}
Metric=512

[RoutingPolicyRule]
Priority=9000
IncomingInterface=eth0
FirewallMark={{ fwmark }}
Family=ipv4
Table={{ tableid }}

[RoutingPolicyRule]
Priority=10000
FirewallMark={{ fwmark }}
Family=ipv4
Table=1

[Route]
Table={{ tableid }}
Destination=::/0
NextHop={{ nhid }}
Metric=512

[RoutingPolicyRule]
Priority=9000
IncomingInterface=eth0
FirewallMark={{ fwmark }}
Family=ipv6
Table={{ tableid }}

[RoutingPolicyRule]
Priority=10000
FirewallMark={{ fwmark }}
Family=ipv6
Table=1
{% endif %}
