[Match]
PermanentMACAddress={{ ansible_default_ipv6.macaddress }}

[Network]
DHCP=no
IPv6AcceptRA=no
LinkLocalAddressing=no

[Address]
Address={{ ansible_default_ipv6.address }}/128

[Neighbor]
Address=fe80::1
LinkLayerAddress=d2:74:7f:6e:37:e3

[Route]
Table=1
Gateway=fe80::1

[Route]
Table=1
Destination=fd00::/8
Type=prohibit

[Route]
Destination=0.0.0.0/0
Type=unreachable

[Route]
Destination=::/0
Type=unreachable

[RoutingPolicyRule]
Priority=10000
IncomingInterface=lo
To=2000::/3
Family=ipv6
Table=1
