127.0.0.1 localhost
::1 localhost ip6-localhost ip6-loopback

{{ dn42_ipv4 }} {{ inventory_hostname }}.aibo.dn42 {{ inventory_hostname }}
{{ dn42_ipv6 }} {{ inventory_hostname }}.aibo.dn42 {{ inventory_hostname }}

{{ ansible_default_ipv6.address }} {{ inventory_hostname }}.dn42.aibor.de {{ inventory_hostname }}
