127.0.0.1 localhost
::1 localhost ip6-localhost ip6-loopback

{% for host in groups["all"] %}
{{ hostvars[host].dn42_ipv4 }} {{ host }}.aibo.dn42 {{ host }}
{{ hostvars[host].dn42_ipv6 }} {{ host }}.aibo.dn42 {{ host }}

{% endfor %}
{{ ansible_default_ipv6.address }} {{ inventory_hostname }}.dn42.aibor.de {{ inventory_hostname }}
