#!/usr/sbin/nft -f

flush ruleset

define OWNNET4 = { 172.23.37.32/27 }
define OWNNET6 = { fdcd:c2da:c2c4::/48 }
define ROUTERNET = { fdcd:c2da:c2c4::/64 }
define MONITOR4 = { 172.23.37.52 }
define MONITOR6 = { fdcd:c2da:c2c4:4252::/64 }
define HOME4 = { 172.23.37.38 }
define HOME6 = { fdcd:c2da:c2c4:4438::/64 }

{% if natpeers  %}
table inet nat {
	chain postrouting {
		type nat hook postrouting priority srcnat; policy accept;

{% for peer in natpeers %}
		oifname eth0 meta mark {{ peer.natid }} counter masquerade
{% endfor %}
	}
}

table inet filter {
	chain prerouting {
		type filter hook prerouting priority filter; policy accept;

		iifname eth0 meta mark set ct mark counter

		iifname "i-*" goto prerouting_internal_mark
	}

	chain prerouting_internal_mark {
		ip daddr 172.16.0.0/12 accept
		ip daddr 10.0.0.0/8 accept
		ip6 daddr fd00::/8 accept

{% for peer in natpeers %}
		iifname "i-{{ peer.name }}" meta mark set {{ peer.natid }} counter
{% endfor %}

		ct mark set mark counter
	}
}

{% endif %}
table inet filter {
	chain input {
		type filter hook input priority 0; policy drop;

		ct state {established, related} counter accept

		iifname lo accept

		meta l4proto { icmp, icmpv6 } counter accept

		tcp dport 70 counter accept comment "SSH"

		iifname eth0 udp dport 51464-51480 counter accept comment "WireGuard"
		iifname eth0 counter drop

		ip6 saddr fe80::/64 tcp dport bgp counter accept comment "BGP direct"
		ip6 saddr fe80::/64 udp dport 3784 counter accept comment "BFD direct"

		iifname "p-*" counter log prefix "Reject peers input: " reject

		ip6 saddr fe80::/64 meta l4proto ospf counter accept
		
		ip6 saddr $ROUTERNET tcp dport bgp counter accept comment "BGP multihop"
		ip6 saddr $ROUTERNET udp dport 4784 counter accept comment "BFD multihop"

		ip saddr $MONITOR4 tcp dport { 9100, 9115, 9324 } counter accept comment "prometheus"
		ip6 saddr $MONITOR6 tcp dport { 9100, 9115, 9324 } counter accept comment "prometheus"

		counter log prefix "Reject input: " reject
	}

	chain forward {
		type filter hook forward priority 0; policy drop;

		iifname eth0 counter goto forward_public
		oifname eth0 counter goto forward_public

		iifname "p-*" ip saddr $OWNNET4 counter goto reject_ownnet
		iifname "p-*" ip6 saddr $OWNNET6 counter goto reject_ownnet

		oifname "p-*" ip daddr $OWNNET4 counter goto reject_ownnet
		oifname "p-*" ip6 daddr $OWNNET6 counter goto reject_ownnet

		oifname "p-*" counter accept
		oifname "i-*" counter accept

		oifname "svc-53" udp dport domain counter accept
		oifname "svc-53" tcp dport domain counter accept

		iifname "svc-*" ct state {established, related} counter accept
		oifname "svc-*" ct state {established, related} counter accept
		oifname "svc-*" meta l4proto { icmp, icmpv6 } counter accept

		ip saddr $HOME4 counter accept
		ip6 saddr $HOME6 counter accept

		counter log prefix "Reject forward: " reject with icmpx type admin-prohibited
	}

	chain forward_public {
{% if natpeers  %}
{% for peer in natpeers %}
		ct mark {{ peer.natid }} counter accept
{% endfor %}

{% endif %}
		counter drop
	}

	chain reject_ownnet {
		log prefix "Reject own net: " reject with icmpx type admin-prohibited
	}

	chain output {
		type filter hook output priority 0; policy accept;

		ct state {established, related} counter accept

		iifname lo accept

		meta l4proto { icmp, icmpv6 } counter accept

		oifname eth0 counter goto output_public

		oifname "p-*" ip daddr $OWNNET4 counter goto reject_ownnet
		oifname "p-*" ip6 daddr $OWNNET6 counter goto reject_ownnet
	}

	chain output_public {
{% if natpeers  %}
		udp dport bootps counter accept

{% endif %}
		counter log prefix "Reject public IPv4 out: " reject with icmp type admin-prohibited

		udp dport { domain, ntp } counter accept
		tcp dport { http, https } counter accept

		udp sport 51464-51480 counter accept comment "WireGuard"

		counter log prefix "Reject public IPv6 out: " reject with icmpv6 type admin-prohibited
	}
}
